form {
  width: auto;
  color: #3e4a49;
  padding: 20px;
}

.p-dates{
  margin-top: 5px;
  margin-left: 20px;
  font-size: large;
  margin-bottom: -10px;

}

fieldset{
  margin: 0px 0px 10px 0px;
}
/*label {*/
/*  display: block;*/
/*  float: left;*/
/*  clear: left;*/
/*  text-align: right;*/
/*  width: 30%;*/
/*  padding-top: 0;*/
/*  margin: 1em 0.5em 0 0;*/
/*}*/

/*input {*/
/*  margin: 1em 0 5px 0;*/
/*  width: 50%;*/
/*  border: 1px solid #3e4a49;*/
/*  padding: 2px;*/
/*}*/

/*.input-checkbox {*/
/*  margin: 2em 0 -5em -7em;*/
/*}*/

/*.form-control {*/
/*  margin: 2em 0 0 0;*/
/*  width: 90%;*/
/*  border: 1px solid #3e4a49;*/
/*  padding: 2px;*/
/*}*/

/*.label-comment {*/
/*  font-size: large;*/
/*  display: block;*/
/*  float: left;*/
/*  clear: left;*/
/*  text-align: left;*/
/*  width: 30%;*/
/*  padding-top: 0.25em;*/
/*  margin: 1em 0 0 0;*/
/*}*/
