body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dv-logincontainer{
  display: flex;
  margin-top: 50px;
}
.dv-loginbox{
  background-color: #37718e;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 50px 20px 300px 20px;
  border-radius: 20px;
  border: solid rgb(68, 68, 68) 2px;
}
.dv-headline {
  flex-grow: 1;
  margin-top: 30px;
  color: white;
}
.welcome-text{
   text-shadow: 2px 2px 5px #37718e;
   font-weight: lighter;
 }
.dv-loginbutton{
  margin-top: 50px;
  flex-grow: 1;
}


.dv-welcome {
  margin: 10px;
  margin-right: 60px;
  font-size: x-large;
  text-align: right;
}


.dv-ViewRequestView {
  margin: 20px 50px 20px 50px;
}

.dv-requestlist {
  font-size: larger;
  margin: 20px;
}

.dv-addcomment {
}

.dv-adminarea {
  margin: 20px;
  display: flex;
}

.dv-calendar{
  margin-left: 50px;
  margin-right: 50px;
}

.dv-profilearea {
  margin: 20px;
}

.dv-createrequestview{
  margin: 20px;
}

.dv-requestform {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.dv-requestform-calendar {
  flex-grow: 3;
  order: 2;
}
.dv-requestform-form{
  flex-grow: 1;
  order: 1;
}

.list-group{
  border-radius: 0;
}

.dv-admin-update-form {
  margin-left: 20px;
}

.list-group-item {
  margin: 1px;
}

a.list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1.5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: rgba(32,40,13,0.42);
}

#comment-msg {
  font-size: large;
  font-style: italic;
}
