th {
  padding: 10px;
}

.t-r-header {
  color: black;
}

td {
  padding: 10px;
}
.t-r-request {
  color: rgb(68, 68, 68);
}

.t-r-request:hover {
  color: rgb(68, 68, 68);
  background-color: #cfcbcb;
}

.table {
  margin-right: 100px;
}
